@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 100%;
    background-color: #F7F7FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Mulish";
}

@layer components {
}

@layer utilities {
    .padding {
        @apply px-2 sm:px-4  py-12 sm:py-24;
    }

    .padding-x {
        @apply px-[2rem] sm:px-[3rem] lg:sm:px-[5rem] 2xl:px-[16rem];
    }

    .padding-y {
        @apply sm:py-24 py-12;
    }

    .title-font {
        @apply text-title_sm2
    }
}

/* styles/globals.css */
.dashed-long {
    border: 2px dashed gray; /* Use the same border properties as Tailwind */
    border-image: linear-gradient(90deg, transparent 25%, gray 25%, gray 75%, transparent 75%) 1;
    border-image-slice: 1; /* Adjust the dash length */
}



.slick-slide > div {
    margin: 0 10px;
}

.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;  /* Glukóza */
    --chart-2: 173 58% 39%; /* Bazální */
    --chart-3: 197 37% 24%; /* Bolus */
  }
 
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
  }
}

.recharts-heatmap-cell {
    transition: fill 0.2s ease;
}

.recharts-heatmap-cell:hover {
    opacity: 0.8;
    cursor: pointer;
}

